(
    spritesheet_width: 256,
    spritesheet_height: 256,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 40,
            height: 40,
        ),
        (
            x: 40,
            y: 0,
            width: 40,
            height: 40,
        ),
    ],
)